@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg: radial-gradient(circle, #173957, #1a2f41);
  --primary: #173147;
  --tagBg: rgb(11, 43, 58);
  --radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a2f41;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23173957' fill-opacity='0.70' fill-rule='evenodd'/%3E%3C/svg%3E");
  font-family: "Noto sans", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  min-height: 100vh;
}

header {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1500;
    width: 100%;
    background: #092741;
    padding: 20px 40px;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-size: 20px;
      text-decoration: none;
      color: currentColor;
    }
    .nav-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      gap: 40px;
      .list-item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        list-style: none;
        border: 1px solid rgba(75, 122, 192, 0.6);
        border-radius: var(--radius);
        cursor: pointer;
        & > div {
          display: flex;
          justify-content: center;
          align-items: center;
          background: var(--primary);
          border-radius: 0 var(--radius) var(--radius) 0;
          padding: 5px;
          svg {
            vertical-align: top;
          }
        }
        span {
          margin: 0 15px;
        }
        .submenu {
          position: absolute;
          top: 110%;
          left: 0;
          width: 100%;
          background: var(--bg);
          border-radius: var(--radius);
          transition: 0.3s ease all;
          box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
          overflow: hidden;
          padding: 20px;
          li {
            display: flex;
            align-items: center;
            list-style: none;
            border-bottom: 1px solid var(--tagBg);
            transition: 0.2s;
            span {
              display: inline-block;
              padding: 15px 10px;
            }
            &:hover {
              background: var(--tagBg);
            }
            img {
              width: 30px;
              vertical-align: top;
            }
          }
          &.hidden {
            height: 0;
            padding: 0;
            box-shadow: none;
          }
        }
      }
    }
  }
  .search {
    --border-color: rgba(75, 122, 192, 0.6);
    flex: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    border-radius: var(--radius);
    padding: 0 5px;
    border: 1px solid var(--border-color);
    & > div {
      padding: 3px;
      border-right: 1px solid var(--border-color);
      align-content: center;
      svg {
        vertical-align: top;
      }
    }
    input {
      border: none;
      width: 100%;
      border-radius: var(--radius);
      padding: 10px;
      font-size: 14px;
      background: var(--primary);
      color: #fff;
      outline: none;
    }
  }
  .hero {
    margin-top: 60px;
    position: relative;

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      background: var(--primary);
      top: 0;
      left: 0;
      z-index: 1000;
      width: 100%;
      height: 100%;
      opacity: 1;
      pointer-events: none;
      transition: 0.3s ease-in-out;
      mask-image: linear-gradient(
        to right,
        var(--primary),
        transparent 10% 90%,
        var(--primary)
      );
    }

    &:hover::after {
      opacity: 0;
    }
    .genre {
      margin-bottom: 20px;
      .list-genre {
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        .list-item {
          list-style: none;
          background: var(--primary);
          padding: 8px 18px;
          border-radius: var(--radius);
          cursor: pointer;
          margin: 5px;
          transition: 0.3s ease all;
          border: 1px solid #fff;
          background: var(--tagBg);
          min-width: -moz-fit-content;
          min-width: fit-content;
          a {
            text-decoration: none;
            color: currentColor;
          }
          &:hover {
            background: rgb(29, 119, 253);
            -webkit-backdrop-filter: contrast(5);
            backdrop-filter: contrast(5);
            box-shadow: 0 0 10px 5px rgb(29, 119, 253);
          }
        }
      }
    }
    .banners {
      position: relative;
      display: flex;
      gap: 40px;
      margin: 10px 0;
      margin-bottom: 40px;
      scroll-snap-type: x mandatory;
      overflow-x: hidden;
      scroll-behavior: smooth;
      transition: 0.3s ease-in-out all;
      &:hover .item {
        filter: grayscale(1);
      }
      & .item {
        position: sticky;
        scroll-snap-align: start;
        transition: filter 0.3s ease;
        cursor: pointer;
        &:hover {
          filter: grayscale(0);
        }
        img {
          border-radius: var(--radius);
          width: 900px;
        }
      }
    }
  }
}

.btn {
  --size: 50px;
  position: absolute;
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  border: none;
  z-index: 1200;
  top: calc(55% - (var(--size) / 2));
  font-weight: bold;
  font-size: 20px;
  background: rgba(56, 108, 133, 0.5);
  cursor: pointer;
  transition: scale 200ms ease-in-out;
  &:hover {
    scale: 1.1;
  }
  &.btnMoveRight {
    right: 0;
    rotate: -90deg;
  }
  &.btnMoveLeft {
    rotate: 90deg;
  }
}

main {
  padding: 0 40px;
  .books {
    .error {
      color: rgb(226, 114, 114);
    }
    .book-category {
      .section-books {
        display: flex;
        justify-content: space-around;
        gap: 30px;
        padding: 30px;
        .book {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          max-width: 200px;
          img {
            height: 300px;
            cursor: pointer;
            transition: 0.3s ease all;
            &:hover {
              background: rgb(29, 119, 253);
              -webkit-backdrop-filter: contrast(5);
              backdrop-filter: contrast(5);
              box-shadow: 0 0 30px 5px rgb(29, 119, 253);
              scale: 1.1;
            }
          }
          .info-book {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            .bookAuthor {
              color: rgb(29, 119, 253);
              font-weight: bold;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

/*Mitos*/

.hero-pages {
  --opacity: 0.3;
  height: 900px;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, var(--opacity)) 10%,
      rgba(0, 0, 0, var(--opacity))
    ),
    var(--bg) no-repeat top/cover;
}
